# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
**server/server
**client/client


# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Others
*#*
/A4/RestCalculator/nbproject/private/
/A4/RestCalculator/build/
/A4/RestCalculator/dist/
/A4/HelloWorldApplication/nbproject/private/
/A4/HelloWorldApplication/build/
/A4/HelloWorldApplication/dist/
/A4/HelloWorldApplication2/nbproject/private/
/A4/Calculator/nbproject/private/
/A4/Calculator/build/
/A4/Calculator/dist/
/A4/CalculatorOld/nbproject/private/
/A4/MavenCalculatorClient/target/
/A4/CalculatorRestClient/target/